body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
*/ {
    margin: 0;
    padding: 0;
}
header,main {
    margin: 50px 140px;
}
.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    height: 500px;
    border-radius: 16px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.banner h5 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 100px;
}

.banner-head {
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

main section {
    margin-top: 30px;
}

/*  ===========<!-- ============banner section closed============= 
-->offer section============ */
.offer-container {
    font-family: Inter;
    text-align: center;
}

.offer-head {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}

.offer-holiday {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.offer-all {
    text-align: center;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin: 5px;
}
.offer-container img {
    width: 650px;
    height: 400px;
    margin-bottom: 60px;
}

/* =========   <!-- =====offer section closed & welcome started -->welcome section========== */
.welcome {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    background-size: cover;
    display: flex;
    justify-content: space-between;

}

.welcome-pic .img{
    width: 10px;
    height: 20px;
    /* margin: 20px 5px 10px 0px; */
}


.welcome-container {
    padding-left: 125px;
    padding-top: 30px;
    text-align: left;
}

.welcome-head {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0px;
    color: white;
}

.welcome-text {
    color: rgba(255, 255, 255, 0.80);
    padding-top: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;

}

.btn-welcome {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
    margin-top: 20px;
    background: none;
    border: 0;
    color: white;
    background: #F00;
    text-transform: uppercase;
}

/* ========hotel */
.hotel-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    min-height: 465px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    margin-top: 60px;
}

.hotel-text {
    padding-top: 80px;
    color: #F00;
}

span {
    color: #070211;
}

.btn-join {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 10px 32px;
    border-radius: 8px;
    background: #F00;
}

/* ====coming starts===== */
.coming{
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
}.coming-now {
    display: flex;
    justify-content: space-between;
}

.coming-image img{
    width: 200px;
    height: 200px;
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 30px;
}

.coming-soon h6 {
    color: #F00;
    /* font-family: Inter; */
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding-top: 15px;
}
.coming-soon h2 {
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.coming-soon p{
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 32px;
width: 380px;
margin-top: 20px;
padding-right: 70px;
line-height: 25px;
}
.coming-2024{
    padding-left: 50px;

}
.coming-2024 h1{
    color: #F00;
font-size: 48px;
font-weight: 700;
margin: 0;
}
.coming-2024 p{
    width: 230px;
color: rgba(7, 2, 17, 0.60);
font-size: 20px;
font-weight: 400;
line-height: 25px;
}
.coming-2024 img{
    width: 100px;
height: 100px;
}

/* =========holiday */
.holiday-title {
    text-align: center;

}
.holiday-title h6{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin: 0;
}
.holiday-title h1{

color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-top: 0;
padding-top: 10px;
}


.holi-span{
color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday-title p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
padding: 0px 115px;
}

.image-container {
    position: relative;
    margin-top: 800px;
}

.img1 {
    position: absolute;
    bottom: 160px;
    left: -90px;
    height: 550px;
}

.img3 {
    position: absolute;
    bottom: 203px;
    left: 670px;
    width: 380px;
    height: 433px;
}

.img2 {
    position: absolute;
    bottom: 280px;
    left: 460px;
    

}

.img4 {
    position: absolute;
    bottom: 0px;
    width: 1050px;
height: 215px;
border-radius: 16px 0px 16px 16px;

}



/* ============portfolio starts */
.portfolio{
    margin-top: 900px;
}

.portfolio-img {
    display: flexbox;
    justify-content: space-between;


}

.port-pic {
    width: 340px;
    height: 440px;
}

.port-pic:hover {
    transform: scale(1.1, 1.1);
}

.portfolio-title h6 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-title h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.portfolio-title p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 750px;
}

/* ========subscribe starts=============== */
.form-subscribe {
    width: 300px;
    height: 60px;
    border-radius: 50px 0px 0px 50px;
    border: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: start;
    margin-left: 250px;

}

.btn-subscribe {
    width: 210px;
    height: 65px;
    border:none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    text-align: center;
    margin-bottom: 80px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

.subscribe {
    background-color: rgba(255, 0, 0, 0.05);
    margin-top: 50px;
    text-align: center;
}

.subscribe img {
    margin-top: 65px;
    width: 100px;
    height: 100px;
}
.subscribe-container h3{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin: 0;
}
.subscribe-container p{
width: 850px;
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
/* ================foot starts */
footer {
    height: 250px;
    background: #070211;
    color: white;
    padding: 120px 140px;
}

.footer-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.website img {
    width: 24px;
    height: 24px;
}

.website-column {
    display: flex;
}

.website {
    padding-right: 150px;
}
.foot {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    text-align: center;
}

.social-icons img {
    width: 64px;
    height: 64px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}